main
{
	background-color:lightblue;
	margin:25px;
	border:1px solid black;

	h1{
	color:blue;
	text-align:center;
	}

	h2{
	color:blue;
	text-align:center;
	}

	input{
	border-radius:7px 7px 7px 7px;
	padding:5px;
	background-color:blue;
	color:white;
	position:relative;
	left:600px;
	}

	header
	{
		nav
		{
			background-color:blue;

			ul
			{
				li
				{
				display:inline-block;
				padding:5px;
				color:white;
				padding-right:105px;
				font-weight:bold;
				}
			}
		}

		.image
		{

		p{
		position:relative;
		top:-100px;
		left:175px;
		color:white;
		}

		p1{
		position:relative;
		top:-80px;
		left:175px;
		color:white;
		}

		p2{
		position:relative;
		left:340px;
		top:-133px;
		color:white;
		}

		p3{
		position:relative;
		left:260px;
		top:-80px;
		color:white;
		}

		p4{
		position:relative;
		color:white;
		left:700px;
		top:-150px;
		font-size:18px;
		}

		p5{
		position:relative;
		color:white;
		left:550px;
		top:-100px;
		font-size:18px;
		}


		.img2{
		background-color:blue;
		border:1px solid black;

		P{
		position:relative;
		top:-70px;
		left:175px;
		color:black;
		}

		p1{
		position:relative;
		left:340px;
		top:-105px;
		color:black;
		}

		p2{
		position:relative;
		color:black;
		font-size:18px;
		left:650px;
		}

		}

		img{
		display:block;
		height:120px;
		padding:10px;
		position:relative;
		left:14px;

		}

		}
	}
}