.container1
{
	background-color: red;
	border:1px solid red;
	width:200px;
	height:150px;
	color:white;
	position: relative;
	top:50px;
	left:50px;
	 transform: skewX(25deg);
}
.container2
{
    background-color: black;
	border:1px solid black;
	width:200px;
	height:150px;
	color:white;
	position: relative;
	top:140px;
	left:50px;
}